:root {
  --black: black;
  --pale-white: rgb(223, 221, 221);
}

body {
  background-color: rgb(33, 206, 14);
  h1 {
    color: rgb(2, 21, 6);
  }
}

.an {
  width: 400px;
  height: 400px;
  background-color: rgb(64, 13, 204);
  margin: 0 auto;
}

.b2{
  color: black;
  font-size: 50px;
}